.clearfix{
  content: "";
  display: block;
  clear:both;
}

.inner-1200 {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.mark-num-color {
  color: yellow;
}

.nothing-color {
  color: #fb3a40;
}

.row-60 {
  height: 60px;
}

.up-color {
  color: #e0141f;
}

.down-color {
  color: #20c657;
}

.price-color {
  color: #fe9900;
}

.btn-add-selector {
  color: #333;
  cursor: pointer;
  margin-right: 10px;
}

.btn-service {
  cursor: pointer;
  margin-right: 10px;
}

.btn-service img {
  position: relative;
  top: 5px;
}

.call-color {
  color: #009ee5;
}

.el-tooltip__popper.is-light {
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px #ddd;
}


/* 服务提示内容 */

.sy-tipbox {
  width: 352px;
  height: 148px;
  display: flex;
  .left {
    text-align: center;
  }
  .weixin-info {
    width: 95px;
    color: #666;
    p {
      font-size: 12px;
    }
  }
  .right {
    flex: 1;
    position: relative;
    padding-left: 20px;
  }
  .qq {
    position: absolute;
    right: 14px;
    top: 25px;
  }
  .card-info {
    color: #666;
    h3 {
      line-height: 28px;
      font-size: 16px;
    }
    .position {
      line-height: 32px;
      font-size: 14px;
    }
    p {
      line-height: 22px;
      font-size: 12px;
    }
  }
}

.el-table__body-wrapper {
  width: 101%;
}

.sy-pagination {
  float: right;
  .btn-prev,
  .btn-next {
    padding: 0 13px !important;
  }
  .el-pager .number,
  .el-pager .more {
    padding: 0 11px !important;
    border: 1px solid #e6e6e6 !important;
    background-color: #fff !important;
  }
  .el-pager .more {
    border-color: #fff !important;
  }
  .el-pager li.active {
    background-color: #fff !important;
    color: #409EFF !important;
    border-color: #fff !important;
  }
}

// 查找条件分类
.typelist {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  .typetable {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-right: 0;
    border-bottom: 0; // 左侧类型
    .type {
      height: 50px;
      background: #f5f5f7;
      line-height: 50px;
      text-align: left;
      text-indent: 2em;
      margin-left: -10px;
      span {
        color: #666666;
      }
    } // 右侧数据
    .content {
      height: 50px;
      line-height: 50px;
      padding-right: 10px;
      ul {
        li {
          float: left;
          margin-left: 18px;
          color: #009ee1;
        }
        li:first-child {
          margin-left: 0;
        }
      }
      button {
        color: #009ee1;
      }
      .btn {
        float: right;
        margin-top: 10px;
        color: #666666;
      }
      span {
        float: left;
      }
      span:hover {
        color: #009ee5;
      }
    }
  }
  .tablelast {
    border-bottom: 1px solid #e6e6e6;
    .leftpx {
      margin-left: 10px;
    }
  }
} // 搜索框查询
.search-box {
  margin-top: 20px;
  height: 60px;
  background: #f5f5f7;
  width: 100%;
  ul {
    line-height: 60px;
    li {
      float: left;
      span {
        margin-left: 28px;
        margin-right: 15px;
        color: #666666;
      }
      input {
        width: 167px;
      }
      &.select {
        width: 78px;
        height: 31px;
      }
    }
  } // 右侧翻页
  .pagechange {
    float: right;
    padding-right: 5px;
    h5 {
      float: right;
      margin: 25px 15px 0 0;
      span {
        color: #009ee1;
      }
    }
    .rightbtn {
      float: right;
      margin-top: 15px;
      .btn-bgcolor {
        background: #f5f5f7;
      }
    }
  }
}

