<section class="header">
  <!-- 导航 -->
  <div class="sy-outnav">
    <nav class="sy-nav">
      <p class="sy-nav-left">你好,社会王</p>
      <ul class="sy-nav-right">
        <li>
          <a>企业中心</a>
        </li>
        <li>
          <a>服务热线：400-800-8900</a>
        </li>
        <li>
          <a>网站导航</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- 头部 -->
  <div class="sy-outheader">

    <!-- banner部分 -->


    <header class="sy-header">
      <div class="img">
        <a>
          <img src="../../assets/img/img/logo.png" alt="">
        </a>
      </div>
      <div class="sy-header-right">
        <div class="sy-header-right-t">
          <ul id="titleList">
            <li class="aactive">
              <a>找产品</a>
            </li>
            <li>
              <a>找客户</a>
            </li>
            <li>
              <a>找技术</a>
            </li>
          </ul>
        </div>
        <div class="sy-header-right-c">
          <input type="text" placeholder="请输入分类、牌号、厂商、公司">
          <div class="button-right">
            <img src="../../assets/img/img/searchIcon.png" alt="">
          </div>
        </div>
        <div class="sy-header-right-b">
          <ul>
            <li>
              <a>道恩集团</a>
            </li>
            <li>
              <a>拉丝PP</a>
            </li>
            <li>
              <a>注塑PP</a>
            </li>
            <li>
              <a>共聚纤维PP</a>
            </li>
            <li>
              <a>低压PP</a>
            </li>
            <li>
              <a>工程塑料</a>
            </li>
            <li>
              <a>橡胶苯酚</a>
            </li>
            <li>
              <a>线性高压</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="sy-header-foot">
        <div class="sy-header-foot-left">

        </div>
        <div class="sy-header-foot-right">
          <ul>
            <li class="active">
              <a>首页</a>
            </li>
            <li>
              <a>自营商城</a>
            </li>
            <li>
              <a>塑云金融</a>
            </li>
            <li>
              <a>客户资源</a>
            </li>
            <li>
              <a>技术专家</a>
            </li>
            <li>
              <a>咨询中心</a>
            </li>
            <li>
              <a>竞价专区</a>
            </li>
            <li>
              <a>物性库</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
</section>
