<section class="footer">

    <div class="sy-footer-t">

      <ul class="firstul">
        <h2>常见问题</h2>
        <li>
          <a href="javascript:void(0)">注册认证</a>
        </li>
        <li>
          <a href="javascript:void(0)">忘记密码</a>
        </li>
        <li>
          <a href="javascript:void(0)">忘记密码</a>
        </li>
      </ul>
      <ul>
        <h2>购物指南</h2>
        <li>
          <a href="javascript:void(0)">采购流程</a>
        </li>
        <li>
          <a href="javascript:void(0)">退换货说明</a>
        </li>
        <li>
          <a href="javascript:void(0)">发票须知</a>
        </li>
      </ul>
      <ul>
        <h2>配送方式</h2>
        <li>
          <a href="javascript:void(0)">仓库自提</a>
        </li>
        <li>
          <a href="javascript:void(0)">推荐物流</a>
        </li>
        <li>
          <a href="javascript:void(0)">物流配送</a>
        </li>
      </ul>
      <ul>
        <h2>支付方式</h2>
        <li>
          <a href="javascript:void(0)">线下支付</a>
        </li>
        <li>
          <a href="javascript:void(0)">上传凭证</a>
        </li>
        <li>
          <a href="javascript:void(0)">怎样保证交易安全</a>
        </li>
      </ul>

    </div>

  <div class="sy-footer-b">
    <p>
      <a href="javascript:void(0)">销售网络与服务
        <span></span>
      </a>
      <a href="javascript:void(0)">联系我们
        <span></span>
      </a>
      <a href="javascript:void(0)">网站地图
        <span></span>
      </a>
      <a href="javascript:void(0)">法律声明
        <span></span>
      </a>
      <a href="javascript:void(0)">帮助信息</a>
    </p>
    <p>
      <a href="javascript:void(0)">版权所有：道恩集团有限公司 鲁ICP备12020172号</a>
    </p>
  </div>
  
</section>
