<section class="case-1 inner-1200">
  <el-table :data="tableData" :border="true" row-class-name="row-60" ref="myTable">
    <el-table-column prop="type" label="分类"></el-table-column>
    <el-table-column class-name="mark-num-color" prop="marknum" label="牌号"></el-table-column>
    <el-table-column prop="company" label="厂家"></el-table-column>
    <el-table-column prop="num" label="数量（吨）" width="110px"></el-table-column>
    <el-table-column prop="address" label="发货地"></el-table-column>
    <el-table-column prop="sendway" label="交互方式"></el-table-column>
    <el-table-column prop="updatetime" label="更新时间" sortable width="120px"></el-table-column>
    <el-table-column prop="price" label="价格（元）" width="150px" sortable>
      <template slot-scope="scope">
        <p class="price-color">
          ￥{{scope.row.price}}/吨
          <img src="../../../assets/img/trend.png">
        </p>
        <div slot="reference" class="name-wrapper">
          <el-tooltip class="item" size="mini" effect="dark" content="满10000返1000元代金券" placement="top">
            <el-tag size="mini" type="warning">返券</el-tag>
          </el-tooltip>
          <el-tooltip class="item" size="mini" effect="dark" content="满10000减999元" placement="top">
            <el-tag size="mini" type="danger">满减</el-tag>
          </el-tooltip>
        </div>
      </template>
    </el-table-column>
    <el-table-column label="涨价" align="center">
      <template slot-scope="scope">
        <p class="up-color" v-if="scope.row.updown && scope.row.updown.indexOf('↑') > -1 ">{{ scope.row.updown }}</p>
        <p class="down-color" v-else>{{ scope.row.updown }}</p>
      </template>
    </el-table-column>
    <el-table-column width="220px">
      <template slot-scope="scope">
        <span class="btn-add-selector">加入选择</span>
        <el-tooltip class="item" size="mini" effect="light" popper-class="sy-pop-theme" placement="bottom">
          <div slot="content">
            <div class="sy-tipbox">
              <div class="left weixin-info">
                <img src="../../../assets/img/weixin.png" alt="">
                <p>扫码加微信咨询</p>
              </div>
              <div class="right card-info">
                <h3>王大力</h3>
                <p class="position">华北区销售经理</p>
                <p>手机：18201030698
                  <a class="call-color" tel="18201030698">免费拨电话</a>
                </p>
                <p>邮箱：daxiang@daxiangclass.com</p>
                <p>微信：suyun</p>
                <span class="qq">
                  <img src="../../../assets/img/qq.png" alt="">
                </span>
              </div>
            </div>
          </div>
          <span class="btn-service">
            <img src="../../../assets/img/service.png" alt="">
          </span>
        </el-tooltip>
        <el-button size="small" type="primary">立即采购</el-button>
      </template>
    </el-table-column>
  </el-table>

</section>